/* SETTINGS  ("variables" in our case) */
html {
	--black: #111111;
	--white: #FFFFFF;
   --primary: 140, 87, 254;
   --secondary: 91, 23, 238;
   --dark: #281e3d;
   --light: #b0a8b9 ;

   --gradient-1: linear-gradient(90deg, rgba(var(--primary),1) 0%, rgba(var(--secondary),1) 100%);
}


