
.color-grid {
   display:  grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   grid-gap: 0 24px;


}

.color-grid .color{
   border:  1px solid var(--dark);
   padding: 1.2rem 0.6rem;
   margin:  10px 0;
   position:  relative;

   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   color:  white;
   text-align: center;
  
}

.color-grid .color:nth-of-type(1){
   background-color: var(--white);
   color:  var(--dark);
}

.color-grid .color:nth-of-type(2){
   background: var(--dark);
}


.color-grid .color:nth-of-type(3){
   background: rgb(var(--primary));
}

.color-grid .color:nth-of-type(4){
   background: rgb(var(--secondary));
}

.color-grid .color:nth-of-type(5){
   background: var(--light);
}

.color-grid .color:nth-of-type(6){
   background: var(--gradient-1);
}

.color-grid .color:nth-of-type(8), .color-grid .color:nth-of-type(9){
   background: var(--white);
   color:  var(--dark);
   border: 1px solid var(--light);
   
}

.color-grid .color:nth-of-type(8)::after {
   background: var(--gradient-1);
}

.color-grid .color:nth-of-type(9)::after {
   background: var(--white); 
   border: 10px solid rgb(var(--primary));
}




@media (max-width: 400px){
   .color-grid .color {
      flex-basis: 50%;
   }
}